# Init

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline
import seaborn as sns

# Load

In [2]:
df = pd.ExcelFile('ANZ synthesised transaction dataset.xlsx')

In [3]:
print(df.sheet_names)

['DSynth_Output_100c_3m_v3']

In [4]:
df = df.parse('DSynth_Output_100c_3m_v3')

# Check

In [5]:
df.head()

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,...,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement
0,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,POS,81c48296-73be-44a7-befa-d053f48ce7cd,NaN,Diana,...,26,Ashmore,QLD,2018-08-01T01:01:15.000+0000,16.25,a623070bfead4541a6b0fff8a09e706c,Australia,CUS-2487424745,153.38 -27.99,debit
1,authorized,0.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,830a451c-316e-4a6a-bf25-e37caedca49e,NaN,Diana,...,26,Sydney,NSW,2018-08-01T01:13:45.000+0000,14.19,13270a2a902145da9db4c951e04b51b9,Australia,CUS-2487424745,151.21 -33.87,debit
2,authorized,1.0,NaN,ACC-1222300524,AUD,151.23 -33.94,POS,835c231d-8cdf-4e96-859d-e9d571760cf0,NaN,Michael,...,38,Sydney,NSW,2018-08-01T01:26:15.000+0000,6.42,feb79e7ecd7048a5a36ec889d1a94270,Australia,CUS-2142601169,151.21 -33.87,debit
3,authorized,1.0,NaN,ACC-1037050564,AUD,153.10 -27.66,SALES-POS,48514682-c78a-4a88-b0da-2d6302e64673,NaN,Rhonda,...,40,Buderim,QLD,2018-08-01T01:38:45.000+0000,40.90,2698170da3704fd981b15e64a006079e,Australia,CUS-1614226872,153.05 -26.68,debit
4,authorized,1.0,NaN,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,b4e02c10-0852-4273-b8fd-7b3395e32eb0,NaN,Diana,...,26,Mermaid Beach,QLD,2018-08-01T01:51:15.000+0000,3.25,329adf79878c4cf0aeb4188b4691c266,Australia,CUS-2487424745,153.44 -28.06,debit

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12043 entries, 0 to 12042
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   status             12043 non-null  object
 1   card_present_flag  7717 non-null   float64
 2   bpay_biller_code   885 non-null    object
 3   account            12043 non-null  object
 4   currency           12043 non-null  object
 5   long_lat           12043 non-null  object
 6   txn_description    12043 non-null  object
 7   merchant_id        7717 non-null   object
 8   merchant_code      883 non-null    float64
 9   first_name         12043 non-null  object
 10  balance            12043 non-null  float64
 11  date               12043 non-null  datetime64[ns]
 12  gender             12043 non-null  object
 13  age                12043 non-null  int64
 14  merchant_suburb    7717 non-null   object
 15  merchant_state     7717 non-null   object
 16  extraction         12043 non-null  object
 17  amount             12043 non-null  float64
 18  transaction_id     12043 non-null  object
 19  country            12043 non-null  object
 20  customer_id        12043 non-null  object
 21  merchant_long_lat  7717 non-null   object
 22  movement           12043 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(17)
memory usage: 1.3+ MB

In [7]:
df.describe()

,card_present_flag,merchant_code,balance,age,amount
count,7717.000000,883.0,12043.000000,12043.000000,12043.000000
mean,0.802644,0.0,14704.195553,30.582330,187.933588
std,0.398029,0.0,31503.722652,10.046343,592.599934
min,0.000000,0.0,0.240000,18.000000,0.100000
25%,1.000000,0.0,3158.585000,22.000000,16.000000
50%,1.000000,0.0,6432.010000,28.000000,29.000000
75%,1.000000,0.0,12465.945000,38.000000,53.655000
max,1.000000,0.0,267128.520000,78.000000,8835.980000

In [8]:
df.describe(exclude='number')

,status,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,first_name,date,gender,merchant_suburb,merchant_state,extraction,transaction_id,country,customer_id,merchant_long_lat,movement
count,12043,885.0,12043,12043,12043,12043,7717,12043,12043,12043,7717,7717,12043,12043,12043,12043,7717,12043
unique,2,3.0,100,1,100,6,5725,80,91,2,1609,8,9442,12043,1,100,2703,2
top,authorized,0.0,ACC-1598451071,AUD,153.41 -27.95,SALES-POS,106e1272-44ab-4dcb-a438-dd98e0071e51,Michael,2018-09-28 00:00:00,M,Melbourne,NSW,2018-09-03T11:00:00.000+0000,8baa3e3e68124bcdaf12f84c0cb10ffd,Australia,CUS-2487424745,151.21 -33.87,debit
freq,7717,883.0,578,12043,578,3934,14,746,174,6285,255,2169,10,1,12043,578,145,11160
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-08-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Missing/Useless Values

In [9]:
df.isna().sum()[df.isna().sum() > 0]

card_present_flag     4326
bpay_biller_code     11158
merchant_id           4326
merchant_code        11160
merchant_suburb       4326
merchant_state        4326
merchant_long_lat     4326
dtype: int64

In [10]:
df[df['card_present_flag'].isna()]['status'].unique()

# THIS TYPE OF TXN DO NOT REQUIRE MERCHANT DATA

array(['posted'], dtype=object)

In [11]:
df[df['card_present_flag'].notna()]['status'].unique()

array(['authorized'], dtype=object)

In [12]:
df[df['card_present_flag'].isna()]['txn_description'].unique()

# THIS TYPE OF TXN DO NOT REQUIRE MERCHANT DATA

array(['PAYMENT', 'INTER BANK', 'PAY/SALARY', 'PHONE BANK'], dtype=object)

In [13]:
df[df['card_present_flag'].notna()]['txn_description'].unique()

array(['POS', 'SALES-POS'], dtype=object)

In [14]:
df['merchant_code'].unique()

array([nan,  0.])

In [15]:
df[df['merchant_code'].notna()]['txn_description'].unique()

array(['PAY/SALARY'], dtype=object)

In [16]:
df[df['txn_description'] == 'PAY/SALARY']['merchant_code'].unique()

# ? NO USEFUL INFORMATION

array([0.])

In [17]:
df['bpay_biller_code'].unique()

array([nan, 0, ' THE DISCOUNT CHEMIST GROUP',
       ' LAND WATER & PLANNING East Melbourne'], dtype=object)

In [18]:
df[df['bpay_biller_code'] == ' THE DISCOUNT CHEMIST GROUP']

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,...,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement
3050,authorized,1.0,THE DISCOUNT CHEMIST GROUP,ACC-2681137560,AUD,151.11 -33.99,POS,786e2dcb-aa00-4a01-a8d7-7cff67fd69e1,NaN,Nathaniel,...,31,Bondi Junction,NSW,2018-08-25T09:17:31.000+0000,20.69,156aa5c521d649099523070b2a40e2e9,Australia,CUS-2083971310,151.25 -33.89,debit

In [19]:
df[df['bpay_biller_code'] == ' LAND WATER & PLANNING East Melbourne']

# THIS COLUMN ALSO SEEMS NOT USEFUL

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,...,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement
4358,authorized,1.0,LAND WATER & PLANNING East Melbourne,ACC-80388494,AUD,144.97 -37.42,SALES-POS,bfac8fdf-39fb-4300-9267-0a7097d3f365,NaN,Dustin,...,28,East Melbourne,VIC,2018-09-04T09:42:51.000+0000,24.01,77dfd0ea900745819a25200f1194185b,Australia,CUS-1140341822,144.97 -37.81,debit

In [20]:
df.nunique()[df.nunique()==len(df)]

# THIS COLUMN IS REDUNDANT

transaction_id    12043
dtype: int64

In [21]:
df.nunique()[df.nunique()==1]

# THESE COLUMNS ARE USELESS

currency         1
merchant_code    1
country          1
dtype: int64

In [22]:
df.isna().sum()[df.isna().sum() > 0].index

Index(['card_present_flag', 'bpay_biller_code', 'merchant_id', 'merchant_code',
       'merchant_suburb', 'merchant_state', 'merchant_long_lat'],
      dtype='object')

In [23]:
df[['card_present_flag', 'merchant_id', 'merchant_suburb', 'merchant_state', 'merchant_long_lat']] = df[['card_present_flag', 'merchant_id', 'merchant_suburb', 'merchant_state', 'merchant_long_lat']].fillna(value=-1)

In [24]:
df = df.drop(columns=['merchant_code', 'bpay_biller_code', 'transaction_id', 'currency', 'country'])

In [25]:
df.isna().sum()

status               0
card_present_flag    0
account              0
long_lat             0
txn_description      0
merchant_id          0
first_name           0
balance              0
date                 0
gender               0
age                  0
merchant_suburb      0
merchant_state       0
extraction           0
amount               0
customer_id          0
merchant_long_lat    0
movement             0
dtype: int64

# Duplicate Values

In [26]:
df[df.duplicated(keep='first')]

Empty DataFrame
Columns: [status, card_present_flag, account, long_lat, txn_description, merchant_id, first_name, balance, date, gender, age, merchant_suburb, merchant_state, extraction, amount, customer_id, merchant_long_lat, movement]
Index: []

# Data Types & Validity

In [41]:
def separate_dtype(df):
    '''Function to separate columns based on their data type'''
    cats, nums, dates = [], [], []
    for col in df.columns:
        if df[col].dtype == 'O':
            cats.append(col)
        elif df[col].dtype in ['int64', 'float64', 'int32', 'float32']:
            nums.append(col)
        elif df[col].dtype in ['datetime64[ns]', 'datetime64[ns, UTC]', '<M8[ns]']:
            dates.append(col)
    return cats, nums, dates

In [28]:
cat_feats, num_feats, date_feats = separate_dtype(df)

In [29]:
def composition(col):
    return df[col].value_counts().apply(lambda x: str(round(x/df[col].value_counts().sum()*100, 2))+'%')

In [30]:
for feat in cat_feats:
    print(feat)
    print(composition(feat))
    print('\n')
    
# FIX LONG_LAT, EXTRACTION, MERCHANT_LONG_LAT TO CORRECT FORMATS/DTYPE

status
authorized    64.08%
posted        35.92%
Name: status, dtype: object


account
ACC-1598451071     4.8%
ACC-1222300524    2.52%
ACC-182446574     2.42%
ACC-4258502723    2.16%
ACC-1037050564    2.15%
                  ...
ACC-1998563091    0.33%
ACC-3881031190    0.31%
ACC-721712940     0.28%
ACC-4059612845    0.26%
ACC-1217063613    0.21%
Name: account, Length: 100, dtype: object


long_lat
153.41 -27.95     4.8%
151.23 -33.94    2.52%
116.06 -32.00    2.42%
145.45 -37.74    2.16%
153.10 -27.66    2.15%
                 ...
149.03 -35.25    0.33%
149.19 -21.15    0.31%
145.09 -37.82    0.28%
130.98 -12.49    0.26%
147.61 -37.82    0.21%
Name: long_lat, Length: 100, dtype: object


txn_description
SALES-POS     32.67%
POS           31.41%
PAYMENT       21.59%
PAY/SALARY     7.33%
INTER BANK     6.16%
PHONE BANK     0.84%
Name: txn_description, dtype: object


merchant_id
-1                                      35.92%
106e1272-44ab-4dcb-a438-dd98e0071e51     0.12%
6c84c219-96ea-4c6f-9de5-0a28bcaec62f      0.1%
e28c426d-cbef-4e2d-aa06-1ba0b6b1902f     0.09%
6ddddc40-5b69-4253-8a26-167999a8bf96     0.08%
                                         ...
e4218e69-eb22-43a5-9a3b-43e9fafc5a2c     0.01%
e251231c-4d2b-4fc7-92c4-6c9ece3b0df4     0.01%
25c15dab-30e0-4df3-bcb1-85b76bb7ec2b     0.01%
61bec0f3-20b1-4235-95e2-febd8a89f079     0.01%
6c7151d0-dfe2-42d7-88fc-9504ca6390cd     0.01%
Name: merchant_id, Length: 5726, dtype: object


first_name
Michael      6.19%
Diana         4.8%
Jessica      3.39%
Joseph       3.25%
Jeffrey      3.22%
             ...
Cindy        0.42%
Elizabeth    0.37%
David        0.33%
Andrew       0.28%
Jonathan     0.26%
Name: first_name, Length: 80, dtype: object


gender
M    52.19%
F    47.81%
Name: gender, dtype: object


merchant_suburb
-1                 35.92%
Melbourne           2.12%
Sydney              1.93%
Southport           0.68%
Brisbane City       0.66%
                    ...
Illawong            0.01%
Westleigh           0.01%
Walgett             0.01%
Grafton             0.01%
Blackburn South     0.01%
Name: merchant_suburb, Length: 1610, dtype: object


merchant_state
-1     35.92%
NSW    18.01%
VIC    17.69%
QLD    12.92%
WA      9.13%
SA      3.45%
NT       1.7%
ACT     0.61%
TAS     0.56%
Name: merchant_state, dtype: object


extraction
2018-09-03T11:00:00.000+0000    0.08%
2018-09-17T11:00:00.000+0000    0.07%
2018-10-19T13:00:00.000+0000    0.07%
2018-10-02T17:00:00.000+0000    0.07%
2018-10-01T11:00:00.000+0000    0.07%
                                ...
2018-10-14T11:25:48.000+0000    0.01%
2018-08-21T15:28:57.000+0000    0.01%
2018-09-01T10:48:19.000+0000    0.01%
2018-08-11T20:35:11.000+0000    0.01%
2018-08-18T21:37:17.000+0000    0.01%
Name: extraction, Length: 9442, dtype: object


customer_id
CUS-2487424745     4.8%
CUS-2142601169    2.52%
CUS-3026014945    2.42%
CUS-3378712515    2.16%
CUS-1614226872    2.15%
                  ...
CUS-3395687666    0.33%
CUS-3201519139    0.31%
CUS-1646183815    0.28%
CUS-495599312     0.26%
CUS-1739931018    0.21%
Name: customer_id, Length: 100, dtype: object


merchant_long_lat
-1               35.92%
151.21 -33.87      1.2%
144.96 -37.82     0.71%
144.97 -37.81     0.49%
144.96 -37.81     0.47%
                  ...
153.04 -27.37     0.01%
150.82 -33.97     0.01%
152.92 -30.46     0.01%
150.52 -23.36     0.01%
151.25 -33.75     0.01%
Name: merchant_long_lat, Length: 2704, dtype: object


movement
debit     92.67%
credit     7.33%
Name: movement, dtype: object

In [31]:
df['long_lat'] = df['long_lat'].apply(lambda x: x.replace(' ', ', '))

In [32]:
df['extraction'] = pd.to_datetime(df['extraction'])

In [33]:
df['merchant_long_lat'] = [x.replace(' ',', ') if isinstance(x, str) else x for x in df['merchant_long_lat']]

In [34]:
cat_feats, num_feats, date_feats = separate_dtype(df)

In [35]:
df[num_feats].describe()

# CARD_PRESENT_FLAG IS ACTUALLY BINARY 0/1

       card_present_flag        balance           age        amount
count       12043.000000   12043.000000  12043.000000  12043.000000
mean            0.155111   14704.195553     30.582330    187.933588
std             0.921709   31503.722652     10.046343    592.599934
min            -1.000000       0.240000     18.000000      0.100000
25%            -1.000000    3158.585000     22.000000     16.000000
50%             1.000000    6432.010000     28.000000     29.000000
75%             1.000000   12465.945000     38.000000     53.655000
max             1.000000  267128.520000     78.000000   8835.980000

In [36]:
df['card_present_flag'] = df['card_present_flag'].astype('O')

In [42]:
cat_feats, num_feats, date_feats = separate_dtype(df)

In [43]:
df[date_feats].describe()

# ALL VALUES ARE VALID AND WITHIN CORRECT DATA TYPE

                       date                 extraction
count                 12043                      12043
unique                   91                       9442
top     2018-09-28 00:00:00  2018-09-03 11:00:00+00:00
freq                    174                         10
first   2018-08-01 00:00:00  2018-08-01 01:01:15+00:00
last    2018-10-31 00:00:00  2018-10-31 23:59:44+00:00

In [53]:
print(f'{len(cat_feats)} categorical features: {cat_feats} \n{len(num_feats)} numerical features: {num_feats} \n{len(date_feats)} datetime features: {date_feats}')

13 categorical features: ['status', 'card_present_flag', 'account', 'long_lat', 'txn_description', 'merchant_id', 'first_name', 'gender', 'merchant_suburb', 'merchant_state', 'customer_id', 'merchant_long_lat', 'movement']
3 numerical features: ['balance', 'age', 'amount']
2 datetime features: ['date', 'extraction']

# Feature Engineering

In [58]:
df['day'] = df['date'].apply(lambda x: x.weekday())
df['day'] = df['day'].map({0: 'Sunday', 1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 4: 'Thursday', 5: 'Friday', 6: 'Saturday'})

In [62]:
df['weekend'] = df['day'].apply(lambda x: 'Weekend' if x in ['Saturday', 'Sunday'] else 'Weekday')

In [68]:
df['month'] = df['date'].apply(lambda x: x.month)
df['month'] = df['month'].map({8: 'August', 9: 'September', 10: 'October'})